# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
.env

# Environments
env/
venv/
ENV/

# OS
.DS_Store

# Logs
*.log

# IDE
.idea/
.vscode/

# Temporary files
*.swp
*.swo

# Test files
test_file/

# worker
worker.py